<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="Tempat Menemukan Restoran Terbaik">
    <link rel="icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Restobook - Tempat Pencarian Restoran Terlengkap</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-to-main-content">Menuju ke konten</a>
    <custom-header></custom-header>
    <main>
      <custom-loading></custom-loading>
    </main>
    <custom-footer></custom-footer>
  </body>
</html>
